/*
	Directive by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Section/Article */

	header.major {
		padding-left: 2em;
		padding-right: 2em;
	}

	footer.major {
		padding-left: 2em;
		padding-right: 2em;
	}